.main {
  --panel-size: 85%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.sidebar {
  z-index: 11;
  width: calc(100% - var(--panel-size));
  flex: 0 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #000;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.panel {
  width: var(--panel-size);
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  overflow-x: auto;
  margin-left: var(--sidebar-width, calc(100% - var(--panel-size)));
}
