.table-container {
    width: 100%;
    overflow-x: auto;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, 
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f9f9f9;
    color: #555;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tr:hover {
    background-color: #f2f2f2;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    overflow-x: auto;
}

.pagination button {
    border: none;
    margin: 0 2px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    color: #333;
    font-size: smaller;
}

.pagination button.active {
    font-weight: bold;
    background-color: #333;
    color: #fff;
}
